<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/webchat/css/style.css">
  <link rel="stylesheet" href="/webchat/css/chat.css">
  <link rel="icon" type="image/png" href="/webchat/icons/chatIcon.png">

  <title>Webchat | Chat</title>
</head>
<body>
  <header>
    <img  class="icon" src="/webchat/icons/chatIcon.png" />

    <div class="chatInformation">
      <div class="containerUsersConnected" id="containerUsersConnected">
        <p>Usuarios</p>
        <div class="listUsersConnected" id="usersConnected"></div>
      </div>
      <button class="btn" id="logout">Salir</button>
    </div>
  </header>

  <main>
    <p id="userMessage" class="userMessage">Cargando...</p>
  
    <div class="all-messages" id="all-messages"></div>
    
    <p id="errorMessage" class="errorMessage"></p>

    <div class="send-message">
      <input type="text" id="message" />
      <button type="button" id="send-message" class="btn secondary">Enviar</button>
    </div>
  </main>
  
  <script src="/socket.io/socket.io.js"></script>
  <script src="/webchat/js/script.js"></script>
</body>
</html>