main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

main form {
  width: 50%;
  padding: 20px;
}

main form .input-group label {
  margin-bottom: 5px;
}

main form .button-container {
  margin-top: 10px;
} 

@media screen and (max-width: 950px){ 
  main form {
    width: 80%;
    padding: 20px;
  }
}